.subscribe-content{
    p{
        margin-right: 0 !important;
    }
}
.subscribe-form input{
    height: 35px;
}

.o_main_navbar .dropdown-menu.show{
    display: block !important;
}

.dropdown-menu.show{
    display: block !important;
}

[aria-hidden="true"], [aria-hidden="1"] {
    display: block !important;
}

[aria-hidden="true"].theme-modal, [aria-hidden="1"].theme-modal {
    display: none !important;;
}

.filter-select{
    margin: 0 !important;
}

.o_product_circle.o_animate_blink{
    display: none !important;
}

.product-right .custom_price {
    font-size: 26px;
    color: #222222;
    margin-bottom: 15px;
}

.slick-prev {
    left: unset !important;
    right: 25px !important;
    top: -38px !important;
}

.slick-prev:before {
    content: "\f053" !important;
}

.slick-next {
    right: -5px !important;
    top: -38px !important;
}

.slick-next:before {
    content: "\f054" !important;
}

.slick-prev:before, .slick-next:before{
    font-family: 'FontAwesome' !important;
}

.special_block{
    .category-block{
        background-image: none !important;
        display: flex !important;
    }
    img{
        display: block !important;
    }
}

.slider-3 .slick-slide img {
    display: block;
    height: 213px;
}

.slider-section .side-banner.side-banner1 img {
    height: 710px !important;
}

.blog-box .media img {
    width: 150px;
}

b.oe_price{
    font-size: 26px;
    color: #222222;
    margin-bottom: 15px;

    span{
        color: #222222 !important;
    }
}

.product-right .border-product{
    border-bottom: 1px dashed #dddddd;
}

li.variant_attribute{
    display: block !important;
}

span.h3{
    display: none !important;
}

.product-right .product-icon .wishlist-btn.disabled:hover i {
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}


/* rating css */

.rating {
  display: inline-block;
  position: relative;
  height: 21px;
  line-height: 21px;
  font-size: 21px
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label:nth-child(5) .icon {
  color: #dddddd;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #dddddd;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ffba00;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #dddddd;
  text-shadow: 0 0 5px #09f;
}
/*
.modal-content .o_product_feature_panel{
    display: none !important;
}
.modal-content .comparator-popover{
 display: none !important;
}
*/