.subscribe-content{
    p{
        margin-right: 0 !important;
    }
}
.subscribe-form input{
    height: 35px;
}

.o_main_navbar .dropdown-menu.show{
    display: block !important;
}

.dropdown-menu.show{
    display: block !important;
}

[aria-hidden="true"], [aria-hidden="1"] {
    display: block !important;
}

[aria-hidden="true"].theme-modal, [aria-hidden="1"].theme-modal {
    display: none !important;;
}


.filter-select{
    margin: 0 !important;
}

.o_product_circle.o_animate_blink{
    display: none !important;
}

.filter-select{
    margin: 0 !important;
}